# Needed for publishing of examples, build worker defaults to core.autocrlf=input.
# The Sampler pipeline template suggest using '* text eol=autocrlf' but that will
# make some tests fail with CR/LF differences.
* text eol=crlf

*.mof   text eol=crlf
*.sh    text eol=lf
*.svg   eol=lf

# Ensure any exe files are treated as binary
*.exe binary
*.jpg binary
*.xl* binary
*.pfx binary
*.png binary
*.dll binary
*.so  binary
